# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
next-env.d.ts

# testing
coverage/
test-results/
playwright-report/
playwright/.cache/

# misc
.DS_Store
*.tsbuildinfo
.vercel
.env*.local
screenshots/
